.top-header{
    padding: 10px;
    
}
header{
    background-color: rgb(21, 21, 21);
    color:rgb(215, 215, 215);
    margin-bottom: 20px;
}
#logIn-section{
    
    padding: 30px;
    margin: 40px auto;
    box-shadow: 5px 5px 10px gray;
    border-radius: 15px;
}
#account-info{
    display: none;
}
.box{
    text-align: center;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 15px;
}
.Deposit{
    background-color: rgb(120, 41, 247);
    color:white;
}
.Withdraw{
    background-color: rgb(245, 103, 131);
    color:white;
}
.Balance{
    background-color: rgb(93, 195, 93);
    color:white;
}
.deposit{
    margin-top: 40px;
}
footer{
    position: absolute;
    width: 100%;
    top:96%;
    left: 0;
    text-align: center;
    background-color: lightslategray;
}
small{
    color:white;
}
@media only screen and (max-width: 600px) {
.small-device{
    row-gap: 16px;
}
.box{
    margin-top: 25px;
}
}